* {
  border: 0;
  padding: 0;
  font-family: Verdana;
}

.wrapper {
  display: flex;
}
.side-Nav {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 250px;
  background-color: #0000ff;
}
.nav-bar {
  height: 80px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.search-container {
  display: flex;
  /* align-items: center; */
}
.search-feild {
  height: 40px;
  width: 300px;
  margin: 0 0 0 10px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-feild::placeholder {
  padding-left: 15px;
}
.search-button {
  height: 40px;
  width: 40px;
  background-color: rgb(2, 117, 216);
  color: aliceblue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search-button2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(2, 117, 216);
  color: aliceblue;
  margin: 0 0 0 100px;
}
.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 35px;
}
.divider {
  border: 1px solid rgba(94, 92, 92, 0.726);
  width: 0px;
  height: 40px;
  margin: 0 15px;
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0 0 10px;
}
.side-Nav {
  display: flex;
  justify-content: center;
  background-color: rgb(2, 117, 216);
}
.toggle-button {
  margin: 20px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(208, 215, 221);
}
.content-list {
  list-style: none;
  color: aliceblue;
  font-size: 15px;
  width: 250px;
}
.features {
  font-size: 18px;
  color: rgba(240, 248, 255, 0.5);
}
.options {
  margin: 15px;
}
.navigate {
  margin: 0 20px 0 0px;
}

.options button {
  background-color: rgb(2, 117, 216);
  color: rgba(250, 235, 215, 0.651);
}
.options button:hover {
  color: antiquewhite;
}

.admin-name {
  font-size: 20px;
  margin: 20px;
}
.Nav-Body {
  width: 100%;
}
.home-body {
  margin: 0 40px;
}
